html {
    /* font-size: 62.5%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    background-color: white;
    align-items: center;
}

.logo{
    display: flex;
    border-top: 2px groove #23a5af;
    border-bottom: 2px groove #23a5af;
    border-width: 100%;
    /* text-align: center; */
    justify-content: center;
    margin: 5px 300px 5px 300px;
}


.container-footer{
    color: white;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    background-color: #0c7a47;
    margin: 5px 300px 5px 300px;
}
.infor{

}
.map{
    height: 50px;
    width: 50px;
}
.authority{
    text-align: center;
}

