.logo{
    border-top: 2px groove #23a5af;
    border-bottom: 2px groove #23a5af;
    text-align: center
}

.container_footer{
    display: flex;
    background-color: #23a5af;
}
.infor{

}
.map{
    height: 50px;
    width: 50px;
}
.authority{
    text-align: center;
}